.App {
  text-align: center;
  /* margin: 100px; */
  background-image: url(https://st2.cannypic.com/thumbs/12/127101_632_canny_pic.jpg);
}

.WeatherContainer {
  /* align-content: center;
  align-items: center; */
  margin-top: 50px;
  margin-right: 200px;
  margin-left: 200px;

  /* align-self: center; */
}

.ui.card {
  width: 100%;
  margin-top: 500px;
  flex-direction: unset;
}

#app-title {
  float: left;
  margin-left: 0;
}

#background {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.Main {
  width: 100%;
  height: 100%;
}